<connectionStrings>
  <add name="NWDB"
        connectionString="Server=tcp:joesql.database.windows.net,1433;Initial Catalog=northwind_CPSC1517_2017;Persist Security Info=False;User ID=joe;Password=Document$111;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
        providerName="System.Data.SqlClient"/>
  <add name="CHINOOK"
        connectionString="Server=tcp:joesql.database.windows.net,1433;Initial Catalog=Chinook;Persist Security Info=False;User ID=joe;Password=Document$111;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
        providerName="System.Data.SqlClient"/>


</connectionStrings>
